---
- name: Enable PHP-FPM status page
  lineinfile:
    path: /etc/php/8.1/fpm/pool.d/www.conf
    regexp: '^pm\.status_path'
    line: 'pm.status_path = /status'

- name: Enable PHP-FPM ping page
  lineinfile:
    path: /etc/php/8.1/fpm/pool.d/www.conf
    regexp: '^ping\.path'
    line: 'ping.path = /ping'

- name: Restart PHP-FPM service
  service:
    name: php8.1-fpm
    state: restarted
    enabled: yes

- name: Run PHP-FPM Exporter container
  community.docker.docker_container:
    name: phpfpm_exporter
    image: hipages/php-fpm_exporter:2.2.0
    state: started
    restart_policy: always
    published_ports:
      - "9253:9253"
    volumes:
      - "/run/php/php8.1-fpm.sock:/run/php/php8.1-fpm.sock"
    env:
      PHP_FPM_SCRAPE_URI: "unix:///run/php/php8.1-fpm.sock;/status"
  